{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center p-4">
        <form action="{{ path('account.createAccount') }}" method="post" class="d-flex flex-wrap justify-content-start align-items-center flex-column w-50 py-3 gap-3 bg-dark-subtle rounded-4 shadow mt-4">
            <p class="fw-bold px-4 fs-2 mb-3 text-dark text-center" >New account creation</p>
            <div class="col-8">
                    <label for="number">Account Number</label>
                    <input  class="form-control w-100 px-4 py-2 rounded-2 fw-bold  text-center" type="text" maxlength="19" minlength="19" value="{{ accountNumber }}" readonly name="number" id="number">
                </div>
                <div class="col-8">
                    <label for="client">Account Owner</label>
                    <select id="client" name="client" class=" fw-bold w-100 text-center  py-2 rounded-2 " required>
                        {% for client in clients %}
                            <option value="{{ client.id}}">{{ client }}</option>
                        {%endfor %}
                    </select>
                </div>
                <div class="col-8">
                    <label for="type">Account Type</label>
                    <select id="type" name="type" class=" fw-bold w-100 text-center py-2 rounded-2 "  required>
                        {% for type in types %}
                            <option value="{{ type.id}}">{{ type.name }}</option>
                        {%endfor %}
                    </select>
                </div>
                <div class="col-8">
                    <label for="date">Creation Date</label>
                    <input class="form-control fw-bold w-100 text-center  py-2 rounded-2 "  type="datetime-local" name="date" id="date" required>
                </div>
            <button type="submit" style="background-color: #DB4437" class="px-4 py-2 text-center text-white btn my-4">Create account</button>
        </form>
    </div>
{% endblock %}

{% block title %} Create Account{% endblock %}

